<mat-card>
  <b><span>Manage Products</span></b>
  <button
    mat-flat-button
    color="primary"
    class="float-right"
    (click)="handleAddAction()"
  >
    <mat-icon>add_circle_outline</mat-icon> Add Product
  </button>
</mat-card>
<hr />

<mat-card>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</mat-card>

<hr />

<div class="product-container ">
  <div class="product-card" *ngFor="let product of products">
    <mat-card class="card-hover">
      <img mat-card-image [src]="product.img" alt="{{ product.name }}" style="width: 100px; height: 100px;">  <mat-card-content>
        <p>{{ product.name }}</p>
        <!-- <p class="product-description">{{ product.description }}</p> -->
        <span class="price">{{ product.price | currency : "VND" : "" : "1.0-0" }} VND</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(product)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete" (click)="handleDeleteAction(product)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-slide-toggle (change)="onChange($event.checked, product.id)" matTooltip="Activate or Deactivate Product" [checked]="product.status">
        </mat-slide-toggle>
      </mat-card-actions>
    </mat-card>

    <!-- <div *ngIf="(i + 1) % pageSize === 0"></div> -->
  </div>
</div>