<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Best Seller</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/sinh-to-bo-chuoi-dau-phong.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/sinh-to-bo-chuoi-dau-phong.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Peanut Butter Banana Smoothie</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The combination of banana and peanuts creates a nutritious snack that provides quick energy. The peanut butter provides protein and healthy fats, while the banana is full of vitamins and free radicals. This dish is perfect for breakfast or a snack.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/cookieandcream.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/cookieandcream.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Cookie n' Cream</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The perfect combination of the sweetness of Oreo Double Stuf, the richness of fresh cream and the coolness of crushed ice. Each experience is a wonderful experience with a layer of drunken ice, melting in the mouth, bringing a refreshing, cool feeling. The drink is decorated with an eye-catching layer of fresh cream, added with Oreo crumbs and a whole Oreo cookie, sure to satisfy every diner.
            </p>
          </div>
        </div>
      </li>
      
  
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Cafe!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
