<mat-card>
    <b><span>Manage Customer</span></b>
  </mat-card>
  
  <hr />
  
  <mat-card>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
  </mat-card>
  
  <hr />
  
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>Point</th>
        <td mat-cell *matCellDef="let element">{{ element.point }}</td>
      </ng-container>

      <ng-container matColumnDef="lastOrder">
        <th mat-header-cell *matHeaderCellDef>Last Order</th>
        <td mat-cell *matCellDef="let element">{{ element.lastOrder }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="isDiscount">
        <th mat-header-cell *matHeaderCellDef>Discount</th>
        <td mat-cell *matCellDef="let element">{{ element.isDiscount }}</td>
      </ng-container> -->

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hovered"
      ></tr>
    </table>
  </div>
  